* {
    box-sizing: border-box; 
    margin: 0px;
    padding: 0px;
}

body {
    min-height: auto;
    max-width: 1500px;
    padding: 20px 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100%;
    height: 100px;
    margin: 50px 60px;
}

h1.header__left {
    color: rgb(5, 5, 139);
    font-size: 30px;
    margin-left: 40px;
}

nav {
    margin-left: auto;
}

ul.header__right{
    display: flex;
}

li {
    margin-left: 40px;
    color: rgb(5, 5, 139);
    font-size: 18px;
    font-weight: bold;
}

a {
    text-decoration: none
}

main {
    position: relative;
    top: 50px;
    left: 50px;
    margin: 20px 50px;

}

h2.content__ttl {
    position: absolute;
    top: 300px;
    font-size: 90px;
    font-weight: lighter;

}

.img__blue {
    position: absolute;
    top: 400px;
    background-color: rgb(5, 5, 139);
    height: 180px;
    width: 1100px;
}

.firstview {
    position: absolute;

    left: 750px;
    width: 750px;
    height: auto;

}