* {
    box-sizing: border-box; 
    margin: 0px;
    padding: 0px;
}

body {
    min-height: auto;
    min-width: auto;
    max-width: 1500px;
    max-height: 750px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100%;
    height: 5%;
}

h1.header__left {
    color: rgb(5, 5, 139);
    font-size: 30px;
}

/* タグに対してcssのスタイルが指定されていたのでnavタグにクラスを指定し、子孫セレクタ使用　*/
nav.header__right {
    margin-left: auto;
}

.header__right ul {
    display: flex;
}

.header__right li {
    margin-right: 40px;
    color: rgb(5, 5, 139);
    font-size: 18px;
    font-weight: bold;
}

.header__right a {
    text-decoration: none
}

main {
    position: relative;
    width: 100%;
    height: 95%;
}

.content {
    position: absolute;
    margin-top: 35%;
    width: 100%;
}
h2.content__ttl{
    font-size: 5vw;
    font-weight: lighter;
}

.content__img--blue {
    background-color: rgb(5, 5, 139);
    width: 75%;
    height: 180px;
}

.firstview {
    position: absolute;
    left: 50%;
    margin-top: 15%;
    width: 50%;
    height: auto;
}